a {
  background-color: none;
  color: #333;
  text-decoration: none;
  display: block;
}
$transition: 0.1s;
$padding: 1.5rem;

.out-frame {
  height: 100%;
  flex: 1;
}

.menu-frame {
  padding-left: $padding;
  width: 20rem;
  border-right: solid 1px #5f5f5f;
}

.view-frame {
  max-width: 70%;
  max-height: calc(100vh - 3.5rem);
  overflow: auto;
}

.code-frame {
  width: 40%;
  min-width: 30rem;
  max-width: 30rem;
  margin-right: $padding;
}

@media (max-width: 767px) {
  .menu-frame {
    min-width: 100%;
    height: 15rem;
    overflow-y: auto;
    
    border: none;
    box-shadow: 0px 2px 2px -2px #5f5f5f;
  }
  .view-frame {
    min-width: 100%;
    overflow-y: auto;
  }
  .code-frame {
    width: 0px;
    display: none;
  }
  .code-frame.active {
    width: 100%;
  }
}

.example {
  padding: 1.5rem;
}

.example.hidden {
  height: 0px;
  display: none;
}

.example-dialog {
  position: absolute;
}
