a {
  background-color: none;
  color: #333;
  text-decoration: none;
  display: block;
}
$transition: 0.1s;
$padding: 1.5rem;

.top-frame {
  overflow-y: auto;
  overflow-x: hidden;
  padding: $padding;
}

.example {
  padding: 1.5rem;
}

.example.hidden {
  height: 0px;
  display: none;
}

.example-dialog {
  position: absolute;
}
