<div fxLayout="column">
  <div>
    <label>CSS</label>
    <ngx-codemirror [(ngModel)]="cssContent" [options]="{ lineNumbers: true, theme: 'material', mode: 'markdown' }">
    </ngx-codemirror>
  </div>
  <div>
    <label>HTML</label>
    <ngx-codemirror [(ngModel)]="htmlContent" [options]="{ lineNumbers: true, theme: 'material', mode: 'markdown' }">
    </ngx-codemirror>
  </div>
  <div>
    <label>Script</label>
    <ngx-codemirror [(ngModel)]="scriptContent" [options]="{ lineNumbers: true, theme: 'material', mode: 'markdown' }">
    </ngx-codemirror>
  </div>
</div>